{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}

<div class="signup-form">
  <form method="post">
  <h2>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h2>
  <p class="hint-text">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
  
  {% endif %} 
  
  <div ><b></b></div>
      <div class="form-group">
        {% csrf_token %}
          <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">{% trans "Continue" %}</button>
      </div>
  </form>
</div>

{% endblock %}
