{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>kenncofficial</title>
  <meta name="author" content="kenncofficial" />
      <meta name="title" content="Kenncofficial | Web Developer, Entertainer, Illutionist">
   <meta content="Kenneth Chinedu Innocent a.k.a  Kenncofficial is a Fullstack web Developer, Entertainer and Illutionist from Nigeria. He is an Innovative and deadline-driven Web Developer with 2+ years of experience designing and developing user-friendly projects from initial concept to final. Building both simple and complex websites." name="description">
  <meta content="KENNCOFFICIAL, kENNETH Chinedu, Fullstack, Web Developer, Illutionist, Magician, Entertainer" name="keywords">


  <!-- Favicons -->
  <link href="{% static 'portfolio/assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'portfolio/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'portfolio/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'portfolio/assets/css/style.css'%}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Folio - v4.7.0
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      
      <!-- Uncomment below if you prefer to use an text logo -->
      <a href="{% url 'home' %}" style="font-family: 'Inspiration', cursive;"><h1><strong>Kenncofficial</strong></h1></a>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link  scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link  scrollto" href="#journal">Resume</a></li>
          <li><a class="nav-link" href="{% url 'bloglist' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link scrollto" href="{% url 'account_logout' %}">Logout</a>
                    </liclass=>
                    {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
{% block content %}
  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>I'm <span class="typed" data-typed-items="kenneth chinedu, a.k.a Kenn c official, a Developer, a Freelancer, an Entertainer"></span></h1>
        <p>Developer, Freelancer, Entertainer</p>

        <ul class="list-unstyled list-social">
          <li><a href="https://www.facebook.com/coddedme/"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://twitter.com/Kennc_official?s=09"><i class="bi bi-twitter"></i></a></li>
          <li><a href="https://instagram.com/kenncofficial?igshid=j267hfc81jfl"><i class="bi bi-instagram"></i></a></li>
          <li><a href="https://github.com/kenncofficial"><i class="bi bi-github"></i></a></li>        
          <li><a href="https://www.linkedin.com/in/kenneth-chinedu-7aa442212"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{% static 'portfolio/assets/img/me.png'%}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">I'm a Fullstack Developer from Nigeria, working in Web Development, creating both Frontend and Backend. I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
              <p class="separator">My Job is to build your website so that it is functional and user-friendly, at the same time attractive. Moreover, I add personal touch to your product and make sure that it is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I've worked on so many eye-catching projects</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

           
            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-card-checklist"></i>
                <span>BRAND IDENTITY</span>
                <p class="separator">I can make your brand stand out. My aim is to bring across your message and identity in the most creative way </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-bar-chart"></i>
                <span>WEB DESIGNING</span>
                <p class="separator">I Build functional and user-friendly and at the same time attractive Website.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-binoculars"></i>
                <span>FULLSTACK DEVELOPMENT</span>
                <p class="separator">Using Frontend technologies and lots of Backend Frameworks, i build both simple and complex websites.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-brightness-high"></i>
                <span>Analytics</span>
               
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </div><!-- End Services Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title ">
      <p class="p-heading" style="font-size: 40px;"><b>Skills</b></p>
      <p>Check my current skill set</p>
    </div>

    <div class="row skills-content">

      <div class="col-lg-3" data-aos="fade-up">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JAVASCRIPT</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">

      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">REACT.JS</li>
          <li class="list-group-item">NODE.JS</li>
          <li class="list-group-item">DATABASE | POSTGRESQL</li>
        </ul>
      </div>
    </div>


    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">

      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">PYTHON | Django</li>
          <li class="list-group-item">AFFILATE MARKETING</li>
          <li class="list-group-item">BLOGGING</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">

      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">TOUCH TYPING</li>
          <li class="list-group-item">INTERNAL NEGOTIATION</li>
          <li class="list-group-item">SOCIAL MEDIA MARKETING</li>
        </ul>
      </div>

    </div>

       



      </div>

    </div>

  </div>
</section><!-- End Skills Section -->

    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>My Portfolio</h2>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for Portfolio_Post in Portfolio_Posts %}
          <div class="col-lg-4 col-md-6 portfolio-item ">
            <img src="{{ Portfolio_Post.image.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ Portfolio_Post.name }}</h4>
              <p></p>
              <a href="{{ Portfolio_Post.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="{% url 'portfolio-details' Portfolio_Post.pk %}" class="details-link" title="More Details"><i class="bx bx-link"> Details</i></a>
            </div>
          </div>
          {% endfor %}
        
        </div>

      </div>

    </div><!-- End Portfolio Section -->

    <!-- ======= Resume Section ======= -->
    <section id="journal" class="resume">
      <div class="container">

        <div class="section-title">
          <h3>Resume</h3>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h5>Kenneth Chinedu</h5>
              <p><em>I'm an Innovative and deadline-driven Web Developer with 2+ years of experience designing and developing user-friendly projects from initial concept to final. I build both simple and complex websites.</em></p>
              <ul>
                <li> <a href="https://www.tidio.com/talk/dyr7shmtm91pmmjrtzfgjymesobojzen"><input class="btn btn-defeault btn-send" value="Hire mE"></a></li>
                
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Python Programming</h4>
              <h5>2018</h5>
              <p><em>- Udemy, Online Bootcamp</em></p>
            </div>
            <div class="resume-item">
              <h4>Front-End & Back-End Web Development</h4>
              <h5>2019 - 2020</h5>
              <p><em>- Udemy, Online Bootcamp</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h5>Maison27</h5>
              <h4>Web Developer/Manager</h4>
              <h5>2019 - Present</h5>
              <p><em>Lagos, Nigeria</em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>AMAZON AFFILIATE MARKETER</h4>
              <h5>2020</h5>
              <p><em>Worked as an affilite for Amazon</em></p>
             
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">GET IN TOUCH</h2>

                <ul class="contact-details">
                  <li><span>Port Harcourt</span></li>
                  <li><span>River State, Nigeria</span></li>
                  <li><span><a href="tel:+2347057110490">+2347057110490</a></span></li>
                  <li><span><a href="mailto:kenncofficial@gmail.com?subject=EMail from kenncofficials website">kenncofficial@gmail.com</a></span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form role="form" class="php-email-form">
                <div class="row gy-3">

                 

                  <div class="mt-0">
                    <a href="https://www.tidio.com/talk/dyr7shmtm91pmmjrtzfgjymesobojzen"><input type="submit" class="btn btn-defeault btn-send" value="Text Me"></a>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/coddedme/"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://twitter.com/Kennc_official?s=09"><i class="bi bi-twitter"></i></a></li>
          <li><a href="https://instagram.com/kenncofficial?igshid=j267hfc81jfl"><i class="bi bi-instagram"></i></a></li>
          <li><a href="https://github.com/kenncofficial"><i class="bi bi-github"></i></a></li>        
          <li><a href="https://www.linkedin.com/in/kenneth-chinedu-7aa442212"><i class="bi bi-linkedin"></i></a></li>
        </ul>

      </div>

      <p>&copy; Copyrights. All rights reserved.</p>
      <div class="credits">
       
        Designed by Kenncofficial
      </div>
      <div class="credits" style="visibility: hidden;">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'portfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'portfolio/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'portfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'portfolio/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'portfolio/assets/vendor/typed.js/typed.min.js'%}"></script>
  <script src="{% static 'portfolio/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'portfolio/assets/js/main.js'%}"></script>
<script src="//code.tidio.co/dyr7shmtm91pmmjrtzfgjymesobojzen.js" async></script>
</body>

</html>